<!DOCTYPE html>
<html>
<body>
<h3>GitHub Events</h3>
<ul id="list"></ul>

<script>
async function loadEvents() {
  const res = await fetch("/events");
  const data = await res.json();

  const ul = document.getElementById("list");
  ul.innerHTML = "";

  data.forEach(e => {
    let text = "";

    if (e.action === "PUSH") {
      text = `${e.author} pushed to ${e.to_branch} on ${e.timestamp}`;
    }

    if (e.action === "PULL_REQUEST") {
      text = `${e.author} submitted a pull request from ${e.from_branch} to ${e.to_branch} on ${e.timestamp}`;
    }

    ul.innerHTML += `<li>${text}</li>`;
  });
}

// load immediately
loadEvents();

// then poll every 15 seconds
setInterval(loadEvents, 15000);
</script>
</body>
</html>
